*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  margin: auto;
  width: 1200px;
  height: 800px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
body {
  margin: 0;
  padding: 0;
 
}

ul,
ol {
  list-style: none;
}

.content {
  flex-direction: row;
  display: flex;
  align-items: end;
  gap: 30px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  margin: auto;
  width: 1140px;
 
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: end;
  margin-bottom: 15px;
}

.search-form__fieldset {
  border: none;
  appearance: none; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 18px;
}


.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: start;
 
 
}

.search-form__fieldset-title-center {
  margin-left: 20px;
}

.search-form__fieldset:focus {
  outline: none;
}
.search-form__textfield {
    appearance: none;
    min-width: 225px;
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(0, 0, 0, 0);
    font-family: "Fira Sans Condensed", sans-serif;
}


.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__label:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  border: 1px white solid;
}     


.search-form__checkbox:focus {
  outline: none;
}
.search-form__submit-button {
  margin-left: 15px;
  width: 194px;
  height: 34px;
}

.search-form__pseudo-checkbox::before {
  content: "  ";
  width: 14px;
  height: 14px;
  /* margin-right: 0.5px;
  margin-left: 0.5px;
  margin-top: 0.5px; */
  background-color: #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  display: flex;
  margin: auto;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__pseudo-checkbox:checked {
  border: 1px white solid;
  width: 19px;
  height: 19px;
  
 
}

.search-form__pseudo-checkbox {
  border: 1px white solid;
  width: 19px;
  height: 19px;
  margin-right: 5px;
 
}

.search-form__label:hover {
  cursor: pointer;
}
 
.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.title { 
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 28px;
  padding-top: 10px;
}

.content__accent {
  color: #545050;
}


.content__list {
  position: relative;
  height: 300px;
  overflow: auto;
  
  
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:focus {
  outline: none;
}

.content__list:last-child {
  margin-bottom: 0px;
}


.content__details {
  width: 100%;
  height: 100%;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  outline: none;
  
}

.content__video-card-thumbnail {
  object-fit: cover;
  width: 194px;
  height: 103px;
}

.content__video-card-thumbnail img {
  width: 100%;
  height: 100%;
  
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.content__video-card-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  line-height: normal;
  text-align: center;
  background-color: rgb(0, 0, 0, 0);
  font-style: normal;
  border: 1px solid white;
 
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050 ;
}

.button:hover {
  text-decoration: underline;
}

.more-button {
  width: 100%;
  height: 34px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  color: white;
  
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}
.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.preloader-template {
  inset: 0;
}

input {
  color: white;
}

